{% unless request.design_mode %}
  <div class="theme-loader__progress color-primary">
    <div class="loader-inner__content">
      <h2 class="h1 loading-text">{{ settings.loading_text }}</h2>
    </div>
  </div>
{% endunless %}